body {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, Helvetica Neue, Segoe UI, Adobe Garamond Pro, sans-serif;
  background: -webkit-gradient(linear, right top, left bottom, from(#fafafa), to(#efefef));
  margin-bottom: 65px;
}

html {
  position: relative;
  min-height: 100%;
}
