<ng-container *ngIf="isInitialized; else loadingAlert">
  <div class="row mt-4">
    <div class="col-sm-3">
      <h2>{{header()}}</h2>
      <hr>
    </div>
  </div>

  <div class="row mb-4 mt-n3">
    <div class="col-sm-3">
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="form-group">
          <label class="invisible" for="product_name">Name</label>
          <input class="form-control" formControlName="name" id="product_name" placeholder="Name" type="text">
        </div>

        <div class="form-group mt-n4">
          <label class="invisible" for="product_number">Number</label>
          <input class="form-control" formControlName="productNumber" id="product_number" placeholder="Number"
                 type="text">
        </div>

        <div class="form-group" formGroupName="manufacturer">
          <label for="manufacturerId">Manufacturer</label>
          <select class="form-control" formControlName="manufacturerId" id="manufacturerId">
            <option *ngFor="let item of manufacturers;" [value]="item.manufacturerId">{{item.name}}</option>
          </select>
        </div>

        <div class="form-group mt-4">
          <input class="btn btn-primary" type="submit" value="OK">
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <a [routerLink]="['/products']">Back to List</a>
    </div>
  </div>
</ng-container>

<ng-template #loadingAlert>
  <app-loading-alert></app-loading-alert>
</ng-template>
