<div *ngIf="viewModel.manufacturers.length != 0; else loadingAlert">
  <div class="row mt-5 mb-4 text-center">
    <div class="col-sm-12">
      <h2>Manufacturers</h2>
    </div>
  </div>

  <div class="row mb-4 text-center">
    <div class="col-sm-12">
      <a (click)="redirectToUpdate()" class="link-create btn btn-primary text-white">Create</a>
    </div>
  </div>

  <div class="row">
    <div class="offset-sm-3"></div>
    <div class="col-sm-6">
      <table class="table border table-striped table-sm">
        <thead class="thead-light table-bordered">
        <tr>
          <th>Name</th>
          <th class="text-black-50">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of viewModel.manufacturers;">
          <td>{{item.name}}</td>

          <td>
            <a (click)="redirectToUpdate(item.manufacturerId)"
               class="btn btn-light border btn-sm mr-2 pl-3 pr-3 font-weight-bolder">
              <fa-icon [icon]="faPen" class="pr-1"></fa-icon>
              Edit
            </a>

            <a class="btn btn-light border btn-sm pl-3 pr-3 font-weight-bolder disabled">
              <fa-icon [icon]="faTimes" class="pr-1"></fa-icon>
              Delete
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="offset-sm-3"></div>
  </div>
</div>

<ng-template #loadingAlert>
  <div class="d-flex justify-content-center mt-5">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
