<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom">
    <div class="container">
      <a [routerLink]="['/']" class="navbar-brand">Hometask</a>

      <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div [ngbCollapse]="isCollapsed" class="navbar-collapse collapse d-sm-inline-flex">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a [routerLinkActive]="['active']" [routerLink]="['/manufacturers']" class="nav-link">Manufacturers</a>
          </li>

          <li class="nav-item">
            <a [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active']" [routerLink]="['/products']"
               class="nav-link">Products</a>
          </li>

          <li class="nav-item">
            <a [routerLinkActive]="['active']" [routerLink]="['/products/filter']" class="nav-link">Filter</a>
          </li>
        </ul>

        <!-- right-side -->
        <!--<ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a [routerLinkActive]="['active']" [routerLink]="['/admin/home']" class="nav-link">Admin</a>
          </li>
        </ul>-->

      </div>
    </div>
  </nav>
</header>
