<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="container ml-n3">
    <div class="row mt-4">
      <div class="col-sm-3">
        <div class="container-fluid">
          <div class="row mb-5">
            <div class="col-sm-12 block-selectable p-3">
              <h4>Manufacturers</h4>
              <hr>
              <div *ngFor="let item of manufacturers;" class="form-check mt-2">
                <input class="form-check-input" id="manufacturer_{{item.manufacturerId}}" type="checkbox">
                <label class="form-check-label" for="manufacturer_{{item.manufacturerId}}">{{item.name}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-11">
              <input [value]="viewModel.filteredName" class="editor form-control w-100" formControlName="filteredName" placeholder="Search"
                     type="text">
            </div>
            <div class="col-sm-1">
              <button class="btn btn-primary pl-4 pr-4" id="find" type="submit">
                <fa-icon [icon]="faSearch" class="pr-1 pl-1"></fa-icon>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 mt-5">
              <div class="card-columns" id="goods"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
